/core-java-module/target/classes/com/modern/process/generics/bounded/A.class
/core-java-module/target/classes/com/modern/process/accessmodifiers/another/AnotherPublic.class
/core-java-module/target/classes/com/modern/process/abstractClasses/fileReader/Application.class
/core-java-module/target/test-classes/com/modern/process/inheritance/AppUnitTest.class
/core-java-module/target/classes/com/modern/process/inheritance/ArmoredCar.class
/core-java-module/target/classes/com/modern/process/generics/bounded/B.class
/core-java-module/target/classes/com/modern/process/abstractClasses/fileReader/BaseFileReader.class
/core-java-module/target/classes/com/modern/process/inheritance/BMW.class
/core-java-module/target/classes/com/modern/process/abstractClasses/BoardGame.class
/core-java-module/target/classes/com/modern/process/generics/bounded/Bound.class
/core-java-module/target/classes/com/modern/process/interfaces/Box.class
/core-java-module/target/classes/com/modern/process/scope/BracketScopeExample.class
/core-java-module/target/classes/com/modern/process/inheritance/Car.class
/core-java-module/target/classes/com/modern/process/interfaces/multiInheritance/Car.class
/core-java-module/target/classes/com/modern/process/object/Car.class
/core-java-module/target/test-classes/com/modern/process/object/CarUnitTest.class
/core-java-module/target/classes/com/modern/process/abstractClasses/Checkers.class
/core-java-module/target/classes/com/modern/process/interfaces/polymorphism/Circle.class
/core-java-module/target/classes/com/modern/process/generics/clazz/ClassA.class
/core-java-module/target/classes/com/modern/process/generics/clazz/ClassB.class
/core-java-module/target/classes/com/modern/process/scope/ClassScopeExample.class
/core-java-module/target/classes/com/modern/process/generics/clazz/ClassT.class
/core-java-module/target/surefire-reports/com.modern.process.inheritance.AppUnitTest.txt
/core-java-module/target/surefire-reports/com.modern.process.object.CarUnitTest.txt
/core-java-module/target/classes/com/modern/process/interfaces/Computer.class
/core-java-module/target/classes/com/modern/process/controlStructures/ConditionalBranches.class
/core-java-module/target/core-java-module-1.0-SNAPSHOT.jar
/core-java-module/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/core-java-module/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/core-java-module/target/classes/com/modern/process/controlStructures/Demo.class
/core-java-module/target/classes/com/modern/process/interfaces/Electronic.class
/core-java-module/target/classes/com/modern/process/interfaces/Employee.class
/core-java-module/target/classes/com/modern/process/interfaces/EmployeeSalaryComparator.class
/core-java-module/target/classes/com/modern/process/exception/ExceptionExamples.class
/core-java-module/target/classes/com/modern/process/inheritance/Floatable.class
/core-java-module/target/classes/com/modern/process/interfaces/multiInheritance/Fly.class
/core-java-module/target/classes/com/modern/process/inheritance/Flyable.class
/core-java-module/target/classes/com/modern/process/generics/method/GenericMethod.class
/core-java-module/target/classes/com/modern/process/interfaces/HasColor.class
/core-java-module/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/core-java-module/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/core-java-module/target/classes/com/modern/process/scope/LoopScopeExample.class
/core-java-module/target/classes/com/modern/process/abstractClasses/fileReader/LowercaseFileReader.class
/core-java-module/target/classes/com/modern/process/exception/MainApp.class
/core-java-module/target/classes/com/modern/process/generics/bounded/MainApp.class
/core-java-module/target/classes/com/modern/process/generics/clazz/MainApp.class
/core-java-module/target/classes/com/modern/process/generics/MainApp.class
/core-java-module/target/classes/com/modern/process/main/MainApp.class
/core-java-module/target/classes/com/modern/process/interfaces/polymorphism/MainTestApp.class
/core-java-module/target/classes/com/modern/process/scope/MethodScopeExample.class
/core-java-module/target/classes/com/modern/process/scope/NestedScopeExample.class
/core-java-module/target/maven-archiver/pom.properties
/core-java-module/target/classes/com/modern/process/accessmodifiers/Public.class
/core-java-module/target/classes/com/modern/process/interfaces/polymorphism/Shape.class
/core-java-module/target/classes/com/modern/process/interfaces/polymorphism/Square.class
/core-java-module/target/classes/com/modern/process/accessmodifiers/SubClass.class
/core-java-module/target/classes/com/modern/process/accessmodifiers/SuperDefault.class
/core-java-module/target/classes/com/modern/process/accessmodifiers/SuperPublic.class
/core-java-module/target/classes/com/modern/process/generics/clazz/Test.class
/core-java-module/target/classes/files/test.txt
/core-java-module/target/surefire-reports/TEST-com.modern.process.inheritance.AppUnitTest.xml
/core-java-module/target/surefire-reports/TEST-com.modern.process.object.CarUnitTest.xml
/core-java-module/target/classes/com/modern/process/interfaces/multiInheritance/Transform.class
/core-java-module/target/classes/com/modern/process/abstractClasses/fileReader/uppercaseFileReader.class
/core-java-module/target/classes/com/modern/process/generics/wildCards/WildCardDemo.class
